<div class='blog'>
<h1>Welcome to my blog</h1>
<h3>July 27, 2017</h3>
<p>I have recently took a udemy course on learning SVG animation by Sam Billingham. I was really excited to take this course and learn some css animation. I have some experience in front end coding but feel that it is a weak spot in being a developer. This course was great to watch. I had learned alot of new things with css including animation. The course uses html, css and javascript as languages to create these animations. The course can be completed with Adobe illustrator or inkscape (which is free and open source) to create the svg, using a simple text editor like atom or sublime to open the svg image and gain access to the code and finally using codepen.io website to include the animation. He goes step by step on explaining how each step is done and explaining the css code needed for the animations. During this course he shows how to make animated logos, animating social icons, hand drawn text, using gradients over text and icons, and using masks. I would highly recommend this course to someone who like myself had zero knowledge of how to do any css animation.</p>
<p>Click <a href='https://www.udemy.com/learn-svg-animation/' target="_blank">Here</a> to see an overview of the couse.</p>

<a class='blog_home' href='https://jmcnett.herokuapp.com'>Home</a>
	
</div>