<!DOCTYPE html>
<html lang='en'>
<link rel="stylesheet" type="text/css" href="css/home.css">
<head>
    <meta charset='UTF-8'>
</head>
<body id="body">
    <main>
        <%= yield %>
    </main>
</body>
<footer class='footer-container'>
    <script src="/js/home.js"></script>
</footer>