body {
/*	background-image: url('/img/pittsburgh.jpg');
    background-repeat: no-repeat;
    background-size: 100%;*/
    margin: 0;
}
.parallax{
    background-image: url('/img/pittsburgh.jpg');
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro {
	float: left;
}

.intro p {
	font-family: sans-serif;
    color: white;
    font-size: 2rem;
    padding-left: 3rem;
    margin-bottom: 1rem;
}

.intro span {
	font-family: fantasy;
    font-size: -webkit-xxx-large;
}

#intro-about {

	font-size: 1.1rem;
    width: 25rem;
}

.nav-bar {
	float: right;
	margin-right: 2rem;
	margin-top: 3rem;
}

.nav-bar a {
	margin-right: 5rem;
    font-size: 2rem;
    background-color: Transparent;
    color: white;
    border: none;
    text-decoration: none;
}
a:hover {

    text-decoration: underline;

}

.nav-bar a:focus {
    outline: none;
    text-decoration: none;
}

.nav-bar input {
	margin-right: 7rem;
    font-size: 2rem;
    background-color: Transparent;
    color: white;
    border-radius: 20%;
}

.about {
	width: 100%;
    height: 50rem;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50rem;
}

.about h2 {
    font-size: -webkit-xxx-large;
    text-align: center;
}

.about_img {
    text-align: center;
}

.about_img  img{
    height: 10rem;
    border-radius: 50%;
    /*background-image: url('/img/me.jpg');*/
    /*border-radius: 50%;*/
}

.about_text p {
    margin-left: 20rem;
    margin-right: 20rem;
    font-family: sans-serif;
    font-size: 20px;
}

h2:after {
    display: block;
    height: 2px;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #6fb2c2;
}




section .about {
    background-color: #F0EAD6;
    background-size: 100%;
}

.blog {
    background-color: #F0EAD6;
    background-size: 100%;
    width: 100%;
    height: 50rem;
}

.blog h1 {
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

.blog h3 {
    font-family: sans-serif;
    margin-left: 3rem;
}

.blog p {
    font-family: sans-serif;
    margin-left: 3rem;
    margin-right: 3rem;
}

.blog_home{
    margin-left: 42rem;
    text-decoration: none;
    font-size: 2rem;
}

.social-icons {
    padding-top: 50rem;
    background: white;
}

.icon {
    height: 60px;
    margin-left: 1rem;
    margin-right: 1rem;

}

.skills-container {
    position: relative;
}

.skill {
    position: absolute;
}



footer table {
    margin: auto;
}



/*MEDIA QUERIES*/

@media(min-width: 320px) {
    .parallax {
        background-image: url(/img/pittsburgh.jpg);
        min-height: 1750px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about {
        width: 100%;
        height: 110rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 110rem;
    }

    .intro {
        float: left;
        width: 48rem;
    }

    #intro-about {
        font-size: 1.1rem;
        width: 38rem;
    }

    .intro p {
        font-family: sans-serif;
        color: white;
        font-size: 3rem;
        padding-left: 3rem;
        margin-bottom: 1rem;
    }

    .intro span {
        font-family: fantasy;
        font-size: 4rem;
    }

    .about_text p {
        margin-left: 10rem;
        margin-right: 10rem;
        font-family: sans-serif;
        font-size: 34px;
    }

    .about_img img {
        height: 15rem;
        border-radius: 50%;
        background-image: url(/img/me.jpg); 
        /* border-radius: 50%; */
    }   

    .about h2 {
        font-size: 4rem;
        text-align: center;
    }

    h2:after {
        display: block;
        height: 2px;
        content: " ";
        width: 175px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: #6fb2c2;
        }


    .social-icons {
        padding-top: 104rem;
        background: white;
    }



    .blog {
        background-color: #F0EAD6;
        background-size: 100%;
        width: 100%;
        height: 110rem;
    }

    .blog h1 {
        font-family: sans-serif;
        margin: 0;
        text-align: center;
        font-size: 3rem;
        padding-top: 3rem;
    }

    .blog h3 {
        font-family: sans-serif;
        margin-left: 3rem;
        font-size: 2rem;
    }

    .blog p {
        font-family: sans-serif;
        margin-left: 3rem;
        margin-right: 3rem;
        font-size: 2rem;
    }

    .course_route {
        margin-bottom: 10rem;
    }


.blog_home {
    margin-left: 25rem;
    text-decoration: none;
    font-size: 3rem;
}


}